<body>
    <header>
      <nav class = "navbar navbar-expand-lg">
        <div class = "container">
          <a routerLink="/blogs" class = "navbar-brand">Tasty Tales</a>
          <div class = "navbar-nav">            
            <a [routerLink]= "['/blogs']">home</a>
            <a routerLink = "/start">Start Here</a>
            <a routerLink = "/recipe">recipe</a>
            <a routerLink = "/about">about</a>
            <a routerLink="">logout</a>
          </div>
        </div>
      </nav> 
    </header> 
</body>
    
    
     
      
    


