<app-contact></app-contact>


<body>
 

  <section class="about">
      <h2>About Us</h2>
      <p>Welcome to our Tasty Tales, we believe that food is more than just sustenance; it's an art, a journey, and a celebration of flavors. Our passion for delicious and wholesome meals inspired us to create this space where we can share our culinary adventures with you.</p>
  </section>

  <section class="chef">
      <h2>Meet the Chef</h2>
      <p>I'm Aishu, the culinary enthusiast behind the recipes you'll find here...</p>
      <a routerLink="/recipe">See our recipes here</a>
  </section>

  <section class="philosophy">
      <h2>Our Culinary Philosophy</h2>
      <p>At our Tasty Tales, we are committed to providing you with recipes that not only taste incredible but also showcase the beauty of fresh, seasonal ingredients...</p>
  </section>


</body>


<footer>
    <div class = "social-links">
      <p>Follow us</p>
      <a href = "#"><img src="../../../assets/icons8-facebook-64.png"></a>
      <a href = "#"><img src="../../../assets/icons8-twitter-squared-48.png"></a>
      <a href = "#"><img src="../../../assets/icons8-instagram-48.png"></a>
      <a href = "#"><img src="../../../assets/icons8-pinterest-48.png"></a>
    </div>
    <span>Food Blog Page</span>
  </footer>